<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Usuários</title>

<style>
body{font-family:Arial;background:#f4f6f8;padding:10px;}
.card{
background:#fff;padding:10px;margin:5px 0;border-radius:8px;
font-size:13px;
}
.actions{display:flex;gap:5px;margin-top:5px;}
button{
flex:1;padding:5px;border:none;border-radius:5px;color:#fff;
font-size:12px;
}
.ativar{background:#28a745;}
.desativar{background:#ffc107;color:#000;}
.excluir{background:#dc3545;}
</style>
</head>

<body>

<h3>👥 Usuários</h3>

<a href="/"><button style="margin-bottom:10px;">⬅ Voltar</button></a>

{% for u in usuarios %}

<div class="card">

<b>👤 {{u[1]}}</b><br>

Status:
{% if u[3] %}
<span style="color:green;">Ativo</span>
{% else %}
<span style="color:red;">Desativado</span>
{% endif %}
<br>

Tipo:
{% if u[2] %}
Admin
{% else %}
Usuário
{% endif %}

<div class="actions">

{% if not u[3] %}
<a href="/ativar_usuario/{{u[0]}}">
<button class="ativar">Ativar</button>
</a>
{% else %}
<a href="/desativar_usuario/{{u[0]}}">
<button class="desativar">Desativar</button>
</a>
{% endif %}

<a href="/delete_usuario/{{u[0]}}">
<button class="excluir">Excluir</button>
</a>

</div>

</div>

{% endfor %}

</body>
</html>